/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/print.scss */
.product-container {
  background-color: #f9f7ec;
}
/* line 9, ../sass/print.scss */
.product-container .card-product {
  background-color: #fff;
}
/* line 11, ../sass/print.scss */
.product-container .card-product .card-body {
  border-radius: 16px;
}
/* line 14, ../sass/print.scss */
.product-container .card-product img {
  cursor: pointer;
}
/* line 17, ../sass/print.scss */
.product-container .card-product:hover {
  background-color: #e04218;
  color: #000;
}
/* line 20, ../sass/print.scss */
.product-container .card-product:hover .btn-primary {
  background-color: #fff;
  border: #e04218;
  color: #e04218;
}
/* line 27, ../sass/print.scss */
.product-container .card-product:hover .card-title {
  color: #fff;
}
/* line 30, ../sass/print.scss */
.product-container .card-product:hover .card-text {
  color: #000;
}

/* line 36, ../sass/print.scss */
.card {
  border: none;
}

/* line 40, ../sass/print.scss */
.btn-primary {
  background-color: #e04218;
  border: #e04218;
}
/* line 43, ../sass/print.scss */
.btn-primary:hover {
  background-color: #e04218;
  border: #e04218;
}

/* line 48, ../sass/print.scss */
.btn-primaryV {
  background-color: #fff;
  border: #e04218 2px solid;
  color: #e04218;
}
/* line 52, ../sass/print.scss */
.btn-primaryV:hover {
  background-color: #e04218;
  border: #e04218 2px solid;
  color: #fff;
}

@media (min-width: 800px) {
  /* line 59, ../sass/print.scss */
  .card-product {
    width: 18rem;
  }
}
/* line 67, ../sass/print.scss */
.nav-item a {
  color: #e04218;
}

/* line 72, ../sass/print.scss */
a, button, select {
  outline: 0;
}

/* line 75, ../sass/print.scss */
.navbar-brand {
  background-color: #e04218;
  padding: 4px;
  color: #fff;
}

/* line 82, ../sass/print.scss */
ol, ul, li, a {
  list-style: none;
  text-decoration: none;
}

/* line 87, ../sass/print.scss */
.action {
  color: #000;
}
/* line 89, ../sass/print.scss */
.action .fa-archive {
  color: #dc3545;
}
/* line 92, ../sass/print.scss */
.action .fa-edit {
  color: #ffec43;
}
/* line 95, ../sass/print.scss */
.action:hover {
  color: #000;
}

/* line 100, ../sass/print.scss */
.bc-primary {
  background-color: #e04218;
}

/* line 104, ../sass/print.scss */
.c-primary {
  color: #e04218;
}
/* line 106, ../sass/print.scss */
.c-primary:hover {
  color: #e04218;
}

/* line 110, ../sass/print.scss */
.form-check-input {
  cursor: pointer;
}

/* line 113, ../sass/print.scss */
.bc-secondary {
  background-color: #f9f7ec;
  /*  color: $colorPrimary; */
}

/* line 118, ../sass/print.scss */
table tr {
  border-bottom: #f9f7ec;
}
/* line 122, ../sass/print.scss */
table .thbottom {
  padding: 1%;
}
/* line 125, ../sass/print.scss */
table tr:last-child {
  border-bottom: #e04218;
}
/* line 128, ../sass/print.scss */
table tr:nth-child(even) {
  background-color: #f9f7ec;
}

/* line 135, ../sass/print.scss */
nav .pagination .active {
  background-color: #e04218;
  color: #fff;
}
/* line 138, ../sass/print.scss */
nav .pagination .active:hover {
  background-color: #e04218;
  color: #fff;
}
/* line 143, ../sass/print.scss */
nav .pagination .active2 {
  background-color: #f9f7ec;
  color: #e04218;
}
/* line 146, ../sass/print.scss */
nav .pagination .active2:hover {
  background-color: #e04218;
  color: #fff;
}
/* line 151, ../sass/print.scss */
nav .pagination .notactive {
  background-color: #fff;
  color: #e04218;
}
/* line 154, ../sass/print.scss */
nav .pagination .notactive:hover {
  background-color: #fff;
  color: #e04218;
}
